<img src="assets/viajes-olympia-home.jpg" alt="Man in jump" class="header-image" />
<div class="grid">
    <a class="box" routerLink="/diversidad">
        <img src="assets/div.png" alt="Diversidad" class="image" />
        <span class="title">Diversidad</span>
        <div class="overlay">Cada uno es diferente.<br>Para cada cliente concreto... un producto específico</div>
    </a>

    <a class="box" routerLink="/calidad">
        <img src="assets/cal.png" alt="Calidad" class="image" />
        <span class="title">Calidad</span>
        <div class="overlay">Entendida como la eficiencia en cada proceso de venta, y la satisfacción de cada cliente
            atendido</div>
    </a>

    <a class="box" routerLink="/especializacion">
        <img src="assets/esp.png" alt="Especialización" class="image" />
        <span class="title">Especialización</span>
        <div class="overlay">Integrados en el destino.<br>Conocemos qué compramos.<br>Sabemos dónde lo vendemos.</div>
    </a>

    <a class="box" routerLink="/tecnologia">
        <img src="assets/tec.png" alt="Tecnología" class="image" />
        <span class="title">Tecnología</span>
        <div class="overlay">Como medio para llevar cada producto a cada cliente.<br>Innovación y creatividad como
            constante en nuestra dinámica.</div>
    </a>
</div>